@import 'scss/reset&debag';
@import 'scss/global';
@import 'scss/mix';




.cover{
 background:{
  image:url(../img/cover.jpg);
  repeat:no-repeat;
  size:cover;
  position:center;
  attachment:fixed;
 }
 position: relative;
 z-index: -2;
 &::after{
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  @include zero;
  z-index: -1;
 }
}

.service{
 .cnt{
  background: $bg1;
  box-shadow: $sh1;
  padding: 25px;
  &:hover{
  transform: translateY(5px);
  box-shadow: none;
  cursor: pointer;
  transition: 0.5s;
  }
  .icon{
  @include icon;
  }
 }
}

.project{
 .cnt{
  position: relative;
  overflow: hidden;
  .overlay{
  content: '';
  @include zero;
  position: absolute;
  padding: 25px;
  display: flex;
  align-items: flex-end;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  }
&:hover .overlay{
opacity: 1;
cursor: pointer;
transition: 0.5s;
}
&:hover .images img{
transform: scale(1.1);
cursor: pointer;
transition: 0.5s;
}
 }
}
































