* {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

.bd {
  border: 3px dashed red;
}

.bd1 {
  border: 3px dashed green;
}

.bd2 {
  border: 3px dashed blue;
}

.bd3 {
  border: 3px dashed cyan;
}

.bd4 {
  border: 3px dashed gold;
}

.bd5 {
  border: 3px dashed navy;
}

.bd6 {
  border: 3px dashed brown;
}

.bd7 {
  border: 3px dashed navy;
}

.bd8 {
  border: 3px dashed purple;
}

.bd9 {
  border: 3px dashed palegreen;
}

.bd10 {
  border: 3px dashed orange;
}

section, .spc {
  padding: 80px 0;
}

body {
  background: #fff;
  color: gray;
}

html {
  scroll-behavior: smooth;
}

.btn {
  text-transform: capitalize;
}

.cover {
  background-image: url(../img/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: -2;
}

.cover::after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.service .cnt {
  background: #f2f2f3;
  box-shadow: 0px 3px 10px green;
  padding: 25px;
}

.service .cnt:hover {
  transform: translateY(5px);
  box-shadow: none;
  cursor: pointer;
  transition: 0.5s;
}

.service .cnt .icon {
  height: 50px;
  width: 50px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 22px;
  border-radius: 50%;
}

.service .cnt .icon:hover {
  background: none;
  color: red;
  border: 3px solid red;
  cursor: pointer;
  transition: 0.5s;
}

.project .cnt {
  position: relative;
  overflow: hidden;
}

.project .cnt .overlay {
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  padding: 25px;
  display: flex;
  align-items: flex-end;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.project .cnt:hover .overlay {
  opacity: 1;
  cursor: pointer;
  transition: 0.5s;
}

.project .cnt:hover .images img {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.5s;
}

.price .cnt {
  background: #f2f2f3;
  box-shadow: 0px 3px 10px green;
  padding: 25px;
}

.price .cnt:hover {
  box-shadow: none;
  transform: translateY(5px);
  cursor: pointer;
  transition: 0.5s;
}

.team .cnt {
  background: #f2f2f3;
  box-shadow: 0px 3px 10px green;
  padding: 25px;
}

.team .cnt:hover {
  box-shadow: none;
  transform: translateY(5px);
  cursor: pointer;
  transition: 0.5s;
}

.team .cnt .icon {
  display: flex;
  justify-content: center;
}

.team .cnt .icon a {
  height: 50px;
  width: 50px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 22px;
  border-radius: 50%;
  text-decoration: none;
  margin-right: 5px;
}

.team .cnt .icon a:hover {
  background: none;
  color: red;
  border: 3px solid red;
  cursor: pointer;
  transition: 0.5s;
}

.footer .down .icon {
  display: flex;
}

.footer .down .icon a {
  height: 50px;
  width: 50px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 22px;
  border-radius: 50%;
  text-decoration: none;
  margin-right: 15px;
}

.footer .down .icon a:hover {
  background: none;
  color: red;
  border: 3px solid red;
  cursor: pointer;
  transition: 0.5s;
}
