* {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

.bd {
  border: 3px dashed red;
}

.bd1 {
  border: 3px dashed green;
}

.bd2 {
  border: 3px dashed blue;
}

.bd3 {
  border: 3px dashed cyan;
}

.bd4 {
  border: 3px dashed gold;
}

.bd5 {
  border: 3px dashed navy;
}

.bd6 {
  border: 3px dashed brown;
}

.bd7 {
  border: 3px dashed navy;
}

.bd8 {
  border: 3px dashed purple;
}

.bd9 {
  border: 3px dashed palegreen;
}

.bd10 {
  border: 3px dashed orange;
}

section, .spc {
  padding: 80px 0;
}

body {
  background: #fff;
  color: gray;
}

html {
  scroll-behavior: smooth;
}

.btn {
  text-transform: capitalize;
}

.service .cnt {
  background: #f2f2f2;
  box-shadow: 0px 3px 10px red;
  padding: 25px 0;
}

.service .cnt:hover {
  box-shadow: none;
  transform: translateY(5px);
  cursor: pointer;
  transition: 0.5s;
}

.footer .icons {
  display: flex;
  justify-content: center;
}

.footer .icons a {
  height: 50px;
  width: 50px;
  background: red;
  border-radius: 10px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 22px;
  color: #fff;
}

.footer .icons a:hover {
  background: gold;
  color: red;
  cursor: pointer;
  transition: 0.5s;
}
