
// $bg:rgb(248, 187, 187);
$bg:#fff;
// $txt:red;
$txt:gray;
$sh: 0px 3px 10px gold;
body{
 background: $bg;
 color: $txt;
}
html{
 scroll-behavior: smooth;
}
.btn{
 text-transform: capitalize;
}

















