
// $bg:rgb(248, 187, 187);
$bg:#fff;
$bg1:#f2f2f2;

// $txt:red;
$txt:gray;
$sh: 0px 3px 10px gold;
$sh1: 0px 3px 10px red;
body{
 background: $bg;
 color: $txt;
}
html{
 scroll-behavior: smooth;
}
.btn{
 text-transform: capitalize;
}

















