*{
  text-transform: capitalize;
  margin: 0;padding: 0;
  box-sizing: border-box !important;
 }
 
.bd{border:3px dashed red;}
.bd1{border:3px dashed green;}
.bd2{border:3px dashed blue;}
.bd3{border:3px dashed cyan;}
.bd4{border:3px dashed gold;}
.bd5{border:3px dashed navy;}
.bd6{border:3px dashed brown;}
.bd7{border:3px dashed navy;}
.bd8{border:3px dashed purple;}
.bd9{border:3px dashed palegreen;}
.bd10{border:3px dashed orange;}


section,.spc{
 padding: 80px 0;
}
